.container {
  background-color: #1f2022;
  //  height: 500px;
}
.cell {
  width: 100%;
  border: 0.1px solid #383939;
  color: white;
  text-align: end;
  padding-bottom: 100px;
  padding-left: 15px;
  height: 100%;
}
.lighter {
  background-color: #272829;
  color: #919192;
  padding: 0px 15px;
  padding-left: 15px;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  border-left: 3px solid #383939;
}

span, .active, .todayClass {
  display: inline-block;
  padding: 5px;
  color: black;
  font-size: 19px;
  
}

.todayClass {
  background-color: orangered;
}
.active {
  background-color: darkcyan;
  color: red;
}