.currentDate {
  background-color: #1f2022;
  color: #c5c5c5;
}

.calendar-header {
  background-color: #1f2022;
  color: #c5c5c5;
  height: 100px;
}
.weekdays {
  background-color: #272829;
  color: white;
  span {
    padding: 10px;
    width: 100px;
    margin-right: 10px;
    display: inline-block;
  }
}
